{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Forum/assets/css/forum.css') }}

<h1>{{ item.title }}</h1>

<div class="business-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>

<div class="topic-description">
    {{ item.description }}
</div>


<div class="topic-owner">
    <div class="col-md-8">
        <a href="{{ user_url }}" title="{{ item.title }}">
            <img src="{{ resized_image(item.article_image.file, 48, 48 ) }}" alt="{{ item.title }}" title="{{ item.title }}" align="left">
        </a>

        <a href="{{ user_url  }}">
            User Name 
        </a>

        &nbsp;&nbsp;
        <a class="bg-green" href="{{ item_url  }}" title="Follow Topic">
            &nbsp; Follow Topic &nbsp; 
        </a>

        <br>
        &nbsp;&nbsp;
        <span>
            <i class="fa fa-clock-o"></i> 
            {{  item.date_created|date('d M Y H:i') }}
        </span>  
        <br>  
    </div>
    <div class="col-md-4">
        <div class="topic-follow">
            {{ forms.input('topic-follow', 'follow') }}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="topic-comments">
    {{ forms.input('topic-comment', 'comment') }}
</div>
