{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Forum/assets/css/forum.css') }}

{% set action_url =  generate_url('siasa.counties') %}

<form class="form-horizontal" action="{{ action_url }}" method="post" role="form"  enctype="multipart/form-data">

    <div class="forum-list">
        <div class="forum">

            <div class="forum-head bg-light-blue">
            </div>

            <div class="forum-body">
                {% if items|length > 0 %}
                    {% for item in items %}

                        {% set item_url = generate_url('forum.forum.detail', {'id':item.id}) %}
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>

                                    {% set category_url = generate_url('forum.categories.detail', {'id':item.id}) %}
                                    {% set user_url = generate_url('users.users.detail', {'id':item.latest_post.user_id}) %}
                                    {% set post_url = generate_url('forum.topics.detail', {'id':item.latest_post.id}) %}

                                    <tr>
                                        <td>
                                            <b>
                                                <a href="{{ category_url  }}" title="{{ item.title }}">
                                                    {{ item.title }}
                                                </a>
                                            </b><br>
                                            {{ item.description }}
                                        </td>
                                        <td>
                                            {{ item.total_topics|number_format() }} Topics<br>
                                            {{ item.total_comments|number_format() }} Comments
                                        </td>
                                        <td>

                                            {% if item.latest_post.title != '' %}
                                                <b>Latest Topic: </b> <a href="{{ post_url  }}" title="{  item.latest_post.title }}">{{  item.latest_post.title }}</a> <br>
                                                <b>By: </b> <a href="{{ user_url  }}" title="{{  item.latest_post.user_name }}">{{  item.latest_post.user_name }}</a> <br>
                                                <b>On: </b> {{  item.latest_post.date_created|date('d M Y H:i') }}
                                            {% else %}
                                                No Posts In this Category.
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {% include "form.hidden.twig" %}


    <div class="clr clearfix"></div>

    {{ forms.input('_token' ) }} 

</form>

